/* pokemon card */
.min-h {
    height: 50vh;
}

#pokemonCard {
    background-color: rgb(122,199,76);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.pokemonCardCloseSign {
    font-size: 24px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.pokemonCardMainInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemonCardMainInformationLeftArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pokemonCardHeadline {
    font-size: 32px;
}

.pokemonCardTypes {
    display: flex;
    gap: 8px;
}

.pokemonCardTypesText {
    padding: 4px 8px;
    background-color: rgba(0 0 0 / 10%);
    border-radius: 16px;
}

.pokemonCardPokeballImg {
    position: absolute;
    right: 0;
    bottom: -24px;
    height: 240px;
    width: 240px;
    object-fit: cover;
    object-position: 48px;
    opacity: 20%;
    
}







#pokemonCardText {
    background-color: white;
    margin-top: -24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pokemonImg {
    height: 240px;
    width: auto;
    margin-top: -160px;
}